{% extends "base.html" %}

{% block content %}
  <h2>Upcoming events</h2>
  <p><a href="#">Sign up</a> to apply to some event</p>
  {% if events.count > 0 %}
      {% for event in events %}
          {% if event.upcoming %}
            <article>
              <header>
                <h2><a href="#">{{ event.event_name }}</a></h2>
              </header>
              {{ event.description }}
              <footer>
                {% if user.is_authenticated %}
                  <a href="#">Apply</a>
                {% endif %}
              </footer>
            </article>
          {% endif %}
      {% endfor %}
  {% else %}
      <p>No events available</p>
  {% endif %}

{% endblock %}
