{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-10" style="margin-top:20px;">
        <form class="form-horizontal" action="." method="POST">
          {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.username.id_for_label}}" class="col-sm-2 control-label">{{ form.username.label}}</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control input-sm" id="{{ form.username.id_for_label}}" name="username" >
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label}}" class="col-sm-2 control-label">{{ form.password.label}}</label>
                <div class="col-sm-3">
                  <input type="password" class="form-control input-sm" id="{{ form.password.id_for_label}}" name="password" >
                </div>
            </div>
            
            <div class="form-group">
                
                <div class="col-sm-offset-2 col-sm-10">    
                    <p  class="text-danger">{{ message }}</p>
                  <input type="submit" class="btn btn-default btn-sm" value="Login"/>
                    
                </div>
                
            </div>
          If you do not have an account, <a href="/signup/">you can create one now.</a> <a href="#">Forgot your password?</a>
        </form>
        
    </div>

</div>

{% endblock %}
